version: "3.0"

services:
  
  #daytrader7-nginx1:
  #  container_name: daytrader7-nginx
  #  networks:
  #    - daytrader7
  #  restart: always
  #  build: ./nginx/
  #  ports:
  #    - "80:80"
  #  volumes:
  #    - /www/public
  #  volumes_from:
  #  - daytrader7-frontend-service

  daytrader7-frontend-service:
    build: ./daytrader7-frontend-service
    image: daytrader7-frontend-service
    container_name: daytrader7-frontend-service
    networks:
      - daytrader7
    ports:
      - "9080:9080"
    environment:
      - JVM_ARGS=-DaccountClient/mp-rest/url=http://daytrader7-account-service:9080/accounts -DholdingClient/mp-rest/url=http://daytrader7-holding-service:9080/holdings -DorderClient/mp-rest/url=http://daytrader7-order-service:9080/orders -DquoteClient/mp-rest/url=http://daytrader7-quote-service:9080/quotes
      - MAX_QUOTES=100
      - MAX_USERS=100

  daytrader7-account-service:
    build: ./daytrader7-account-service
    image: daytrader7-account-service
    container_name: daytrader7-account-service
    networks:
      - daytrader7

  daytrader7-holding-service:
    build: ./daytrader7-holding-service
    image: daytrader7-holding-service
    container_name: daytrader7-holding-service
    networks:
      - daytrader7

  daytrader7-order-service:
    build: ./daytrader7-order-service
    image: daytrader7-order-service
    container_name: daytrader7-order-service
    networks:
      - daytrader7
    environment:
      - JVM_ARGS=-DaccountClient/mp-rest/url=http://daytrader7-account-service:9080/accounts -DholdingClient/mp-rest/url=http://daytrader7-holding-service:9080/holdings -DorderClient/mp-rest/url=http://daytrader7-order-service:9080/orders -DquoteClient/mp-rest/url=http://daytrader7-quote-service:9080/quotes

  daytrader7-quote-service:
    build: ./daytrader7-quote-service
    image: daytrader7-quote-service
    container_name: daytrader7-quote-service
    networks:
      - daytrader7

networks:
  daytrader7:
    external: true
