<server>
    <featureManager>
        <feature>microProfile-4.0</feature>
        <feature>jsp-2.3</feature>
        <feature>websocket-1.1</feature>
        <feature>ejbLite-3.2</feature>
    </featureManager>

	<!-- allow reuse of 'busy' ports for fast server recycling on linux (where ports remain blocked for up to 2 mins after server stops) ${tradelite.http.port} set in bootstrap.properties --> 
	<httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"> 
		<tcpOptions soReuseAddr="true"/> 
		<httpOptions maxKeepAliveRequests="-1"/>
	</httpEndpoint>
		
  <webApplication name="daytrader7-frontend-service" location="daytrader7-frontend-service-1.0-SNAPSHOT.war" context-root="/daytrader">
    <!-- enable visibility to third party apis -->
    <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party" />
  </webApplication>
</server>
